body {
    margin: 0;
}


nav, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 25px;
    font-size: 1.5em;   
}

a {
    padding: 25px;
}

a:hover {
    color: white;
    /* font-size: 1.5em;
    margin: 40px; */
}

h1 {
    margin: 50px 0;
    text-align: center;
    color: steelblue;
}

img {
    border: 15px solid steelblue;
    width: 80%;
    display: block;
    margin: 0 auto;
}

p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

footer p {
    padding: 25px;
}

/* footer {
    background-color: steelblue;
    color: white;
    font-size: 1.5em;
    text-align: center;
} */

/* .main.para {
    width: 800px;
    font-size: 1.5em;
    line-height: 1.5em;
    border: 2px solid blue;
}

#active {
    font-size: 1.5em;
    background-color: white;
    color: steelblue;
} */